---
BasedOnStyle: Microsoft
ColumnLimit: 120
AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: Never
AllowShortCaseLabelsOnASingleLine: true
Cpp11BracedListStyle: true
IndentExternBlock: NoIndent